.body {
  background-color: #222f3e;
  color: #eee;
  font-family: monospace;
  margin: 2rem;
}

a {
  color: #c8d6e5;
}

a:hover {
  color: #8395a7;
}

.unstyled {
  list-style-type: none;
}

.page-header {
  margin-bottom: 0;
}
