<div class="container">
  <h1><%= metadata.blogTitle %></h1>
  <h2>Table of Contents</h2>
  <ul>
    <% for(let i =0; i < pages.length; i++) {%>
      <li class="unstyled"><a href="<%= pages[i].path %>"><%= (i+1).toString().padStart(2, 0) %> - <%= pages[i].title %></a></li>
    <% } %>
  </ul>
</div>
<div>
  <a class="link" href="https://github.com/dmamills/sssssssssss">made with sssssssssss</a>
</div>