<!DOCTYPE html>
<html>
  <head>
    <title><%= metadata.blogTitle %></title>
    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>public/css/index.css">
  </head>
  <body class="body">
    <%- content %>
  </body>
</html>
