<div class="container">
  <h1><%= metadata.blogTitle %></h1>
  <p>Table of Contents</p>
  <ul>
    <% for(let i =0; i < pages.length; i++) {%>
      <li><a href="<%= pages[i].path %>"><%= (i+1).toString().padStart(2, 0) %> - <%= pages[i].title %></a></li>
    <% } %>
  </ul>
</div>