<div class="page-container">
  <h1 class="page-header"><%= page.title %></h1>
  <strong><%= page.date %></strong>
  <div>
    <article>
      <%- page.content %>
    </article>
    <a href="<%= baseUrl %>">Go home</a>
  </div>
</div>